html, body, .container {
    height: 100%;
}

body {
    background: #000000;
    color: #ffffff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 5em;
    margin: 0;
}