body {
	width: 600px;
	margin-top: 20px;
}

h1, h2, h3, h4, h5 {
    /*text-shadow: 2px 2px 0px hsl(0, 0%, 94%);*/
}

h1 {
    font-family: 'Changa One', sans-serif;
    font-size: 26px;
    margin: 0;
}
h4 {
    font-size: 14px;
    margin-bottom: 10px;
}

div.jumbotron {
	background: #fff;
	color: #000;
}

#sitesPanel {
	display: none;
}